@section Styles {
    <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/bootstrap-player.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/full-slider.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="@Url.Content("~/scripts/jquery.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap-player.js")"></script>
}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #000;">
	<div style="float: right; margin-top: 16px;">
		<object height="18" width="100%">
		<param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/playlists/113984204&auto_play=true&player_type=tiny&color=000000" />
		<param name="allowscriptaccess" value="always" />
		<embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/playlists/113984204&auto_play=true&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		</object>
	</div>
    <div class="container">
        <div class="navbar-header">
			<img src="./images/logo_outros_caras.png" alt="" style="margin: 0px; width: 150px; height: 50px;"/>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#algumLugar">Algum Lugar</a>
                </li>
				<li>
                    <a href="#midias">M&iacute;dias</a>
                </li>
                <li>
                    <a href="#contatos">Contatos</a>
                </li>
                <li>
                    <a href="#links">Links</a>
                </li>
            </ul>
	    </div>
	</div>
</nav>

<header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
		<li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
		<li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
		<li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
		<li data-target="#myCarousel" data-slide-to="14"></li>
    </ol>

    <div class="carousel-inner" style="background-color: #333;">
        <div class="item active">
            <div class="fill">
				<div>
					<img src="./images/encarte/1.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;" />
				</div>
			</div>
        </div>
        <div class="item">
			<div class="fill">
				<div>
					<img src="./images/encarte/2.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/3.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/4.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/5.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/6.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/7.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/8.jpg" alt="" class="img-thumbnail centralized" style="width: 1400px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/9.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/10.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/11.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/12.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/13.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/14.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
		<div class="item">
            <div class="fill">
				<div>
					<img src="./images/encarte/15.jpg" alt="" class="img-thumbnail centralized" style="width: 700px;"/>
				</div>
			</div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div class="container">
    <div class="widget tiny">
	    <section id="algumLugar">
	    <div class="row">
            <div class="col-lg-12">
                <h1>Algum Lugar</h1>
                <p>Ou&ccedil;a cada faixa do primeiro trabalho de est&uacute;dio dos <b>Outros Caras</b>.</p>
			    <br>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879356&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879356&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879326&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879326&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879304&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879304&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879272&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879272&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879241&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879241&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879214&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879214&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879182&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879182&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879158&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879158&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879128&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879128&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
				
			    <object height="18" width="100%">
			        <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879084&auto_play=false&player_type=tiny&color=000000" />
			        <param name="allowscriptaccess" value="always" />
			        <embed allowscriptaccess="always" height="18" src="http://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/208879084&auto_play=false&player_type=tiny&color=000000" type="application/x-shockwave-flash" width="100%" />
		        </object>
            </div>
        </div>
	    </section>
        <hr>
	    <section id="midias">
	    <div class="row">
		    <h1>M&iacute;dias</h1>
            <p>Confira o que os <b>Outros Caras</b> andaram aprontando.</p>
		    <br />
		    <h4> Cover Session - Paralamas do Sucesso </h4>
		    <div class="col-sm-3" style="padding: 4px;">
			    <div class="embed-responsive embed-responsive-4by3">
				    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kh5fyWke_n0" frameborder="0" allowfullscreen></iframe>
			    </div>
		    </div>
		    <div class="col-sm-3" style="padding: 4px;">
			    <div class="embed-responsive embed-responsive-4by3">
				    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-_FfX2LUtmw" frameborder="0" allowfullscreen></iframe>
			    </div>
		    </div>
		    <div class="col-sm-3" style="padding: 4px;">
			    <div class="embed-responsive embed-responsive-4by3">
				    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SV4T_qMboQw" frameborder="0" allowfullscreen></iframe>
			    </div>
		    </div>
		    <div class="col-sm-3" style="padding: 4px;">
			    <div class="embed-responsive embed-responsive-4by3">
				    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C6xVIwKioj8" frameborder="0" allowfullscreen></iframe>
			    </div>
		    </div>
	
	    </div>
		
	    <div class="row">
		    <br />
		    <h4>Apari&ccedil;&otilde;es</h4>
		    <div class="col-sm-3" style="padding: 4px;">
			    <div class="embed-responsive embed-responsive-4by3">
				    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WwIqtde4dTw" frameborder="0" allowfullscreen></iframe>
			    </div>
		    </div>
			
	    </div>
		
	    <div class="row">
		    <br />
		    <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=5dd292e6-2e1c-4747-918d-e6b0f784a661&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FPaineldaManh%25C3%25A3%2Fpainel-cultural-com-as-bandas-kapitu-e-outros-caras-19062015%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0"></iframe>
	    </div>
		
	    <div class="row">
		    <br />
		    <p><i>Para assistir mais v&iacute;deos, entre no canal da banda no <a href="https://www.youtube.com/user/BandaOutrosCaras">YouTube</a>.</i></p>
	    </div>
	    </section>
	    <hr>
	    <section id="contatos">
	    <div class="row">
            <div class="col-lg-12">
			
			    <h1>Contatos</h1>
			    <p>Escreva pra <b>Outros Caras</b>.</p>
			    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> outroscaras@gmail.com
			    <br />
			    <br />
			    <p>Ou se preferir, n&atilde;o tenha vergonha, pode ligar</b>.</p>
			    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (21)99200-4673
		        
			    <!--
			    <form>
				    <div class="form-group">
					    <label for="inputNome">Nome</label>
					    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
				    </div>
				    <div class="form-group">
					    <label for="inputEmail">E-mail</label>
					    <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
				    </div>
				    <div class="form-group">
					    <label for="inputMensagem">Mensagem</label>
					    <textarea class="form-control" id="inputMensagem" placeholder="Mensagem"></textarea>
				    </div>
					
				    <div class="checkbox">
					    <label>
						    <input type="checkbox">Desejo receber novidades.
					    </label>
				    </div>
				    <button type="submit" class="btn btn-success">Enviar</button>
			    </form>
			    -->
		    </div>
        </div>
	    </section>
	    <hr>
		
	    <section id="links">
	    <div class="row">
            <div class="col-lg-12">
			    <h1>Links</h1>
		        <p>Siga <b>Outros Caras</b> pela internet.</p>
			    <center>
				    <a href="https://pt-br.facebook.com/pages/Outros-Caras/467827939936825" target="_blank">
					    <img src="./images/icon_fb.png" alt="" class="img" style="width: 38px;"/>
				    </a>
				    <a href="https://www.youtube.com/user/BandaOutrosCaras" target="_blank">
					    <img src="./images/icon_yt.png" alt="" class="img" style="width: 38px;"/>
				    </a>
				    <a href="https://soundcloud.com/outroscaras" target="_blank">
					    <img src="./images/icon_sc.png" alt="" class="img" style="width: 38px;"/>
				    </a>
			    </center>
		    </div>
        </div>
	    </section>
		
	    <hr>
		
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <p>Copyright &copy; Outros Caras 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</div>

<script>
$('.carousel').carousel({
    interval: 0 //changes the speed
})
</script>